#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.2rem;
}

.board-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid blue;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.selected {
  background-color: orange;
}

.turn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 20px 0;
}